{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyRestaurant</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}?v=2">
</head>

<body>
    <header>
        <h1>Welcome to PyRestaurant</h1>
    </header>
    <table>
        <thead>
            <th>Ordered Items</th>
        </thead>
        <tbody>

            {% for order in orders %}
            <tr>
                <td>{{ forloop.counter }}.{{ order.name }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</body>

</html>
